<app-navbar></app-navbar>
<app-hero></app-hero>
<br />
<div class="p-8">
  <app-homecategories></app-homecategories>
  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
    class="x_md:flex gap-2 mt-[40px] w-full"
  >
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="hidden x_md:block min-w-[30%]"
    >
      <app-featured-flex-bar></app-featured-flex-bar>
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="x_md:w-[70%]"
    >
      <app-featured></app-featured>
    </div>
  </div>
</div>
