<div>
  <lib-section-header [icon]="'pi pi-star'" [title]="'Top Rated'">
  </lib-section-header>
  @if(topRatedProductsLoading()){
  <lib-section-loader />
  }@else {
  <lib-ui-carousel
    [items]="topRatedProducts()"
    [templateType]="'product'"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="[
      { breakpoint: '1200px', numVisible: 4, numScroll: 1 },
      { breakpoint: '992px', numVisible: 3, numScroll: 1 },
      { breakpoint: '768px', numVisible: 3, numScroll: 1 },
      { breakpoint: '576px', numVisible: 2, numScroll: 1 }
    ]"
  />

  }

  <br />
  <lib-section-header [icon]="'pi pi-chart-line'" [title]="'Trending Now'">
  </lib-section-header>
  @if(trendingProductsLoading()){
  <lib-section-loader />
  }@else {
  <lib-ui-carousel
    [items]="topTrendingProducts()"
    [templateType]="'product'"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="[
      { breakpoint: '1200px', numVisible: 4, numScroll: 1 },
      { breakpoint: '992px', numVisible: 3, numScroll: 1 },
      { breakpoint: '768px', numVisible: 3, numScroll: 1 },
      { breakpoint: '576px', numVisible: 2, numScroll: 1 }
    ]"
  />

  }

  <br />
  <lib-section-header [icon]="'pi pi-star-fill'" [title]="'Featured'">
  </lib-section-header>
  @if(featuredProductsLoading()){
  <lib-section-loader />

  }@else {
  <lib-ui-carousel
    [items]="featuredProducts()"
    [templateType]="'product'"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="[
      { breakpoint: '1200px', numVisible: 4, numScroll: 1 },
      { breakpoint: '992px', numVisible: 3, numScroll: 1 },
      { breakpoint: '768px', numVisible: 3, numScroll: 1 },
      { breakpoint: '576px', numVisible: 2, numScroll: 1 }
    ]"
  />

  }
</div>
