<div>
  <div
    class="flex items-center gap-4 bg-gray-900 text-[#a3ffd4] rounded-xl p-3 mb-8"
  >
    <i class="pi pi-star-fill" style="font-size: 1.4rem"></i>
    <h2>Featured Mangas</h2>
  </div>
  <lib-ui-carousel
    [items]="myProducts()"
    [templateType]="'product'"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="[
      { breakpoint: '1200px', numVisible: 4, numScroll: 1 },
      { breakpoint: '992px', numVisible: 3, numScroll: 1 },
      { breakpoint: '768px', numVisible: 3, numScroll: 1 },
      { breakpoint: '576px', numVisible: 2, numScroll: 1 }
    ]"
  />
</div>
