<div class="grid gap-4">
  <lib-section-header [icon]="'pi pi-bookmark'" [title]="'New Arrivals'">
  </lib-section-header>
  @if(loading()){
  <div class="card flex justify-center">
    <p-progress-spinner
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
  }@else {
  <lib-ui-carousel
    [items]="topNewArrivals()"
    [templateType]="'vertical-product'"
    [numVisible]="3"
    [numScroll]="1"
    [orientation]="'vertical'"
    [verticalHeight]="'1200px'"
  >
  </lib-ui-carousel>

  }
</div>
